<div class="container-fluid">
  <div class="row page-titles">
    <div class="col-md-6 col-8 align-self-center">
      <h3 class="text-themecolor m-b-0 m-t-0">Category</h3>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)" (click)="navigateTo('/home')">Home</a></li>
        <li class="breadcrumb-item active">Category</li>
        <li class="breadcrumb-item active">Edit Category</li>
      </ol>
    </div>    
  </div>

  <div class="row">
    <div class="col-md-12 marB">
      <a href="javascript:void(0)"  (click)="navigateTo('category'); showSuccess=false;showError= false;">Back</a>
      <div class="alert alert-success" *ngIf = "showSuccess">
            <strong>Success!</strong> {{message}}
          </div>
          <div class="alert alert-danger" *ngIf = "showError">
              <strong>Error!</strong> {{message}}
          </div>
    </div>
  </div>
  <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Update Category</h4>
                     <form class="form-horizontal p-t-20" [formGroup]="userForm">
                        <div class="form-group row">
                            <div class="col-sm-9 marginCenter ">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-user"></i></div>
                                    <input formControlName="englishName" required type="text" class="form-control"  [(ngModel)]='englishName' id="uname" placeholder="English Name">
                                    
                                </div>
                                <control-messages [control]="userForm.controls.englishName"></control-messages>
                            </div>
                        </div>
                        <div class="form-group row">
                              <div class="col-sm-9 marginCenter">
                                  <div class="input-group">
                                      <div class="input-group-addon"><i class="ti-email"></i></div>
                                      <input type="text" formControlName="frenchName" class="form-control" name="frenchName" [(ngModel)]="frenchName" id="exampleInputEmail1" placeholder="French Name">
                                  </div>
                                  <control-messages [control]="userForm.controls.frenchName"></control-messages>
                              </div>
                          </div>
                          <div class="form-group row">
                              <div class="col-sm-9 marginCenter">
                                  <div class="input-group">
                                      <div class="input-group-addon"><i class="ti-world"></i></div>
                                      <input type="file" ng2FileSelect [uploader]="uploader" id="avatar" name="uploadedAnswer"/>
                                  </div>
                              </div>
                          </div>
      
                          <div class="form-group row">
                              <div class="col-sm-9 marginCenter">
                                  <div class="input-group">
                                      <div class="input-group-addon"><i class="ti-lock"></i></div>
                                      <input type="text" formControlName="sorting" name = "sorting" [(ngModel)]="sorting" class="form-control" id="pass3" placeholder="Sorting Order">
                                      
                                  </div>
                                  <control-messages [control]="userForm.controls.sorting"></control-messages>
                              </div>
                          </div>
                        <div class="form-group row m-b-0">
                            <div class="offset-sm-3 col-sm-9 marginCenter ">
                                <button [disabled]="!userForm.valid" type="submit" class="btn btn-success waves-effect waves-light m-r-10t" (click)="updateCategory()" >Save</button>
                                <button type="button" class="btn btn-inverse waves-effect waves-light" (click)="navigateTo('category')">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
      </div>
</div>