
<div class="card">
  <div class="card-body">
      
      <div class="table-responsive m-t-40">
          <table [attr.id]= "elemID" class="table table-bordered table-striped">
              <thead>
                  <tr> 
                     <th>Title</th>
                      <th>Description</th>
                      <th>Category</th>
                      <th>Times sh8ken</th>
                      <th>Times sh8red</th>
                      <th>Creater</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor = "let dtData of dtTableData">
                      <td>{{dtData.Title}}<div style="font-size:12px"><a href="#">Answer(2)</a></div></td>
                      <td>{{dtData.Description}}</td>
                      <td>{{dtData.Category}}</td>
                      <td>{{dtData["Times sh8ken"]}}</td>
                      <td>{{dtData["Times sh8red"]}}</td>
                      <td>{{dtData.Creater}}</td>                      
                  </tr>                  
              </tbody>
          </table>
      </div>
  </div>
</div>