<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="row page-titles">
    <div class="col-md-6 col-8 align-self-center">
      <h3 class="text-themecolor m-b-0 m-t-0">Dashboard</h3>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </div>

  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Start Page Content -->
  <!-- ============================================================== -->
  <!-- Row -->
  <!-- Views at the dashboard top section -->
  <div class="row">
    
    <div class="col-lg-3 col-md-6">
      <div class="card">
        <div class="card-body">
          <!-- Row -->
          <div class="row">
            <div class="col-12 text-center"><span class="display-6">{{visitData.totalusers}}
             <!-- <i *ngIf="data.symbol=='down'" class="ti-angle-down font-14 text-danger"></i>
              <i *ngIf="data.symbol=='up'" class="ti-angle-up font-14 text-success"></i>-->
              </span>
              <h6><a href="javascript:void(0)" aria-expanded="false"  (click)="navigateTo('users/general')">TOTAL USERS</a></h6></div>
            <!--<div class="col-4 align-self-center text-right  p-l-0">
              <app-total-view [barColor] = "data.color" [barValue] = "data.val"></app-total-view>
            </div>-->
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="card">
        <div class="card-body">
          <!-- Row -->
          <div class="row">
            <div class="col-12 text-center"><span class="display-6">{{visitData.totalprousers}}
              <!--<i *ngIf="data.symbol=='down'" class="ti-angle-down font-14 text-danger"></i>
              <i *ngIf="data.symbol=='up'" class="ti-angle-up font-14 text-success"></i>-->
              </span>
              <h6><a href="javascript:void(0)" (click)="navigateTo('users/admin')">TOTAL PRO USERS</a></h6></div>
            <!--<div class="col-4 align-self-center text-right  p-l-0">
              <app-total-view [barColor] = "data.color" [barValue] = "data.val"></app-total-view>
            </div>-->
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="card">
        <div class="card-body">
          <!-- Row -->
          <div class="row">
            <div class="col-12 text-center"><span class="display-6">{{visitData.generalsha8ke}}
              <!--<i *ngIf="data.symbol=='down'" class="ti-angle-down font-14 text-danger"></i>
              <i *ngIf="data.symbol=='up'" class="ti-angle-up font-14 text-success"></i>-->
              </span>
              <h6><a href="javascript:void(0)" (click)="navigateTo('sh8ke/generalSh8ke')">GENERAL SH8KE</a></h6></div>
            <!--<div class="col-4 align-self-center text-right  p-l-0">
              <app-total-view [barColor] = "data.color" [barValue] = "data.val"></app-total-view>
            </div>-->
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="card">
        <div class="card-body">
          <!-- Row -->
          <div class="row">
            <div class="col-12 text-center"><span class="display-6">{{visitData.globalsh8ke}}
              <!--<i *ngIf="data.symbol=='down'" class="ti-angle-down font-14 text-danger"></i>
              <i *ngIf="data.symbol=='up'" class="ti-angle-up font-14 text-success"></i>-->
              </span>
              <h6><a href="javascript:void(0)" (click)="navigateTo('sh8ke/globalSh8ke')">GLOBAL SH8KE</a></h6></div>
            <!--<div class="col-4 align-self-center text-right  p-l-0">
              <app-total-view [barColor] = "data.color" [barValue] = "data.val"></app-total-view>
            </div>-->
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="card">
        <div class="card-body">
          <!-- Row -->
          <div class="row">
            <div class="col-12 text-center"><span class="display-6">{{uniqueVisit.uniqueVisits}}
              <!--<i *ngIf="data.symbol=='down'" class="ti-angle-down font-14 text-danger"></i>
              <i *ngIf="data.symbol=='up'" class="ti-angle-up font-14 text-success"></i>-->
              </span>
              <h6><a href="javascript:void(0)">UNIQUE VISITS</a></h6>
              <h6>{{uniqueVisit.decrease}}% DECREASE {{uniqueVisit.decreaseTime}} AGO <i class="ti-angle-down font-14 text-danger"></i></h6>
              </div>
              
            <!--<div class="col-4 align-self-center text-right  p-l-0">
              <app-total-view [barColor] = "data.color" [barValue] = "data.val"></app-total-view>
            </div>-->
          </div>
        </div>
      </div>
    </div>
   
   </div>
    <!-- Column -->
   <!-- End of Views at the dashboard top section -->

  
  <!-- Row -->
  <!-- Row -->
  <div class="row">
    <!-- Column -->
    <!-- Total Revenue at the dashboard-->
    <div class="col-lg-8">
        <app-total-revenu [count]="initialCount"></app-total-revenu>
    </div>
    <!-- Column -->
    <div class="col-lg-4">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Sales Prediction</h4>
              <div class="d-flex flex-row">
                <div class="align-self-center">
                  <span class="display-6 text-primary">$3528</span>
                  <h6 class="text-muted">10% Increased</h6>
                  <h5>(150-165 Sales)</h5>
                </div>
                <div class="ml-auto">
                  <div id="gauge-chart" style=" width:150px; height:150px;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Sales Difference</h4>
              <div class="d-flex flex-row">
                <div class="align-self-center">
                  <span class="display-6 text-success">$4316</span>
                  <h6 class="text-muted">10% Increased</h6>
                  <h5>(150-165 Sales)</h5>
                </div>
                <div class="ml-auto">
                  <div class="ct-chart" style="width:120px; height: 120px;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Column -->
  </div>
  <!-- Row -->
  <div class="row">
    <div class="col-md-12">
        <div class="card">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs customtab" role="tablist">
                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home2" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">General Sh8ke</span></a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile2" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Global Sh8ke</span></a> </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="home2" role="tabpanel">
                  <div class="card">
                    <div class="card-body">
                      <div class="table-responsive m-t-40">
                          <app-datatable [config]='dtConfig' [data]="topGeneralSh8ke" (onMenuSelect)="onMenuSelect($event)"></app-datatable>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="tab-pane" id="profile2" role="tabpanel">
                  <div class="card">
                    <div class="card-body">
                      <div class="table-responsive m-t-40">
                        <app-datatable [config]='dtConfig' [data]="topGeneralSh8ke" (onMenuSelect)="onMenuSelect($event)"></app-datatable>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

  </div>

  <!-- ============================================================== -->
  <!-- End PAge Content -->
  <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
