.ct-bar{
    stroke-width: 1px;
}
.custom-dt-table table tr td:first-child{
    width: 20%;
}
#sparklinedash1, #sparklinedash4, #sparklinedash2,#sparklinedash3{
    height: 100px;
    margin-top: -25px;
} 
#sparklinedash3 .ct-bar{
    stroke:#fff;
} 
#sparklinedash .ct-bar{
    stroke:green;
} 
#sparklinedash2 .ct-bar{
    stroke:yellow;
}
