<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="row page-titles">
    <div class="col-md-6 col-8 align-self-center">
      <h3 class="text-themecolor m-b-0 m-t-0">Dashboard</h3>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </div>
    <div class="col-md-6 col-4 align-self-center">
      <button class="right-side-toggle waves-effect waves-light btn-info btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
      <button class="btn pull-right hidden-sm-down btn-success"><i class="mdi mdi-plus-circle"></i> Create</button>
      <div class="dropdown pull-right m-r-10 hidden-sm-down">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          January 2017
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">February 2017</a>
          <a class="dropdown-item" href="#">March 2017</a>
          <a class="dropdown-item" href="#">April 2017</a>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Start Page Content -->
  <!-- ============================================================== -->
  <!-- Row -->
  <!-- Views at the dashboard top section -->
  <div class="row">
      <div *ngFor="let data of visitData; let i=index"  class="col-lg-3 col-md-6">
      <div class="card">
        <div class="card-body">
          <!-- Row -->
          <div class="row">
            <div class="col-8"><span class="display-6">{{data.total}} 
              <i *ngIf="data.symbol=='down'" class="ti-angle-down font-14 text-danger"></i>
              <i *ngIf="data.symbol=='up'" class="ti-angle-up font-14 text-success"></i>
              </span>
              <h6>{{data.name}}</h6></div>
            <div class="col-4 align-self-center text-right  p-l-0">
              <app-total-view [barColor] = "data.color" [barValue] = "data.val"></app-total-view>
            </div>
          </div>
        </div>
      </div>
    </div> 
    <!-- Column -->
   <!-- End of Views at the dashboard top section --> 
    
  </div>
  <!-- Row -->
  <!-- Row -->
  <div class="row">
    <!-- Column -->
    <!-- Total Revenue at the dashboard-->
    <div class="col-lg-8">
        <app-total-revenu [count]="initialCount"></app-total-revenu>
    </div>
    <!-- Column -->
    <div class="col-lg-4">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Sales Prediction</h4>
              <div class="d-flex flex-row">
                <div class="align-self-center">
                  <span class="display-6 text-primary">$3528</span>
                  <h6 class="text-muted">10% Increased</h6>
                  <h5>(150-165 Sales)</h5>
                </div>
                <div class="ml-auto">
                  <div id="gauge-chart" style=" width:150px; height:150px;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Sales Difference</h4>
              <div class="d-flex flex-row">
                <div class="align-self-center">
                  <span class="display-6 text-success">$4316</span>
                  <h6 class="text-muted">10% Increased</h6>
                  <h5>(150-165 Sales)</h5>
                </div>
                <div class="ml-auto">
                  <div class="ct-chart" style="width:120px; height: 120px;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Column -->
  </div>
  <!-- Row -->
  <div class="row">
    <div class="col-md-12">
        <div class="card">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs customtab" role="tablist">
                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home2" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">Home</span></a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile2" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Profile</span></a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#messages2" role="tab"><span class="hidden-sm-up"><i class="ti-email"></i></span> <span class="hidden-xs-down">Messages</span></a> </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="home2" role="tabpanel">
                    <app-datatable></app-datatable>
                </div>
                <div class="tab-pane" id="profile2" role="tabpanel"><app-datatable></app-datatable></div>
                <div class="tab-pane" id="messages2" role="tabpanel"><app-datatable></app-datatable></div>
            </div>
        </div>
    </div>

  </div>
  
  <!-- ============================================================== -->
  <!-- End PAge Content -->
  <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
