<div class="card">
  <div class="card-body">
    <ul class="list-inline pull-right">
      <li>
        <h6 class="text-muted"><i class="fa fa-circle m-r-5" style="color:#51bdff"></i>2015</h6>
      </li>
      <li>
        <h6 class="text-muted"><i class="fa fa-circle m-r-5" style="color:#11a0f8"></i>2016</h6>
      </li>
      <li>
        <h6 class="text-muted"><i class="fa fa-circle m-r-5 text-info"></i>2017</h6>
      </li>
    </ul>
    <h4 class="card-title">Total Revenue</h4>
    <div class="clear"></div>
    <div class="total-sales" style="height: 365px;"></div>
  </div>
</div>