<div class="container-fluid">
  <div class="row page-titles">
    <div class="col-md-6 col-8 align-self-center">
      <h3 class="text-themecolor m-b-0 m-t-0">User</h3>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
        <li class="breadcrumb-item active">User</li>
        <li class="breadcrumb-item active">Edit General User</li>
      </ol>
    </div>    
  </div>

  <div class="row">
    <div class="col-md-12 marB">
      <a href="javascript:void(0)"  (click)="navigateTo('users/general')">Back</a>
    </div>
  </div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-9 marginCenter">
                    <h4 class="card-title"> Update General User</h4>
                </div>
              </div>
                <form class="form p-t-20">
                      <div class="form-group row">
                        <div class="col-sm-9 marginCenter">
                          <label for="fName">Name</label>
                          <div class="input-group">
                              <div class="input-group-addon"><i class="ti-user"></i></div>
                              <input type="text" class="form-control" name="fname" [(ngModel)]="fName" id="fName" placeholder="Name">                             
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-9 marginCenter">
                          <label for="exampleInputuname2">Surname</label>
                          <div class="input-group">
                              <div class="input-group-addon"><i class="ti-user"></i></div>
                              <input type="text" class="form-control" id="exampleInputuname2" name="surName" [(ngModel)]="surName" placeholder="surname">
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-9 marginCenter">
                          <label for="exampleInputuname2">Phone</label>
                          <div class="input-group">
                              <div class="input-group-addon"><i class="ti-user"></i></div>
                              <input type="text" class="form-control" id="exampleInputuname2" name="phoneNo" [(ngModel)]="phoneNo" placeholder="Phone">
                             
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-9 marginCenter">
                          <label for="exampleInputEmail2">Email address</label>
                          <div class="input-group">
                              <div class="input-group-addon"><i class="ti-email"></i></div>
                              <input type="email" class="form-control" id="exampleInputEmail2" name="email" [(ngModel)]="email" placeholder="Enter email">
                              
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-9 marginCenter">
                          <label for="username">User Name</label>
                          <div class="input-group">
                              <div class="input-group-addon"><i class="ti-user"></i></div>
                              <input type="text" class="form-control" id="username" name="userName" [(ngModel)]="userName" autocomplete="off" placeholder="Username">
                              
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-9 marginCenter">
                          <label for="password">Password</label>
                          <div class="input-group">
                              <div class="input-group-addon"><i class="ti-lock"></i></div>
                              <input type="password" class="form-control" id="datepicker" name="password" [(ngModel)]="password" autocomplete="off" placeholder="Enter pwd">
                              
                          </div>
                      </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-9 marginCenter">
                          <label for="imageUrl">Upload Photo</label>
                          <div class="input-group">
                              <input type="file" class="form-control" id="imageUrl" name ="imageUrl" [(ngModel)]="imageUrl" placeholder="Upload Photo">
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-9 marginCenter">
                          <label for="exampleInputpwd3">Select Gender</label>
                          <div class="input-group">
                            <select class="form-control" id="user_type" [ngModel]="selectedGender" (ngModelChange)="updateCheckedOptions($event, 'gender')" name="user_type" aria-required="true" aria-invalid="false">
                              <option value="">Select Gender</option>
                              <option value="1">Male</option>
                              <option value="2">Female</option>                        
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-9 marginCenter">
                          <label for="exampleInputpwd3">Select Status</label>
                          <div class="input-group">
                            <select class="form-control" id="user_status" name="user_status" [ngModel]="selectStatus" (ngModelChange)="updateCheckedOptions($event, 'status')" aria-required="true" aria-invalid="false">
                              <option value="-1" selected>Select Status</option>
                              <option value="1">Single</option>
                              <option value="2">Married</option> 
                              <option value="3">Divorced</option>  
                              <option value="3">Open</option>                        
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-9 marginCenter">
                          <label for="user_status">Intrest</label>
                          <div class="input-group">
                            <select class="form-control" [ngModel]="selectIntrest" (ngModelChange)="updateCheckedOptions($event, 'intrest')" id="user_status" name="user_interest" aria-required="true" aria-invalid="false">
                              <option value="-1" selected>Intrested In</option>
                              <option value="1">Male</option>
                              <option value="2">Female</option>                    
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                          <div class="col-sm-9 marginCenter">
                            <div >
                              <label for="preferences">Preferences</label>
                            </div>                           
                            <div class="form-check checkBoxContainer col-md-4 col-sm-6" *ngFor = "let checkData of preferencesItems; let i= index;">
                              
                                  <label class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input">
                                      <span class="custom-control-indicator"></span>
                                      <span class="custom-control-description">{{checkData}}</span>
                                  </label>
                              </div>
                          </div>
                    </div>
                      <div class="form-group row">
                          <div class="col-sm-9 marginCenter">
                          <div class="input-group">
                              <input type="text" class="form-control" id="datepicker-autoclose" placeholder="mm/dd/yyyy">
                              <span class="input-group-addon"><i class="icon-calender"></i></span> </div>
                          </div>
                      </div>
                      <div class="text-left row">
                        <div class="col-sm-9 marginCenter">
                          <button type="submit" class="btn btn-success waves-effect waves-light m-r-10" (click)="submitEditableData">Submit</button>
                          <button type="submit" class="btn btn-inverse waves-effect waves-light">Cancel</button>
                        </div>
                      </div>
                  </form>
            
            </div>
        </div>
    </div>
  </div>
</div>