<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader hide">
  <svg class="circular" viewBox="25 25 50 50">
    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
  <!-- ============================================================== -->
  <!-- Topbar header - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
      <!-- ============================================================== -->
      <!-- Logo -->
      <!-- ============================================================== -->
      <div class="navbar-header">
        <a class="navbar-brand" href="javascript:void(0);">
          <!-- Logo text -->
          <span>Sh8ke</span> </a>
      </div>
      <!-- ============================================================== -->
      <!-- End Logo -->
      <!-- ============================================================== -->
      <div class="navbar-collapse">
        <!-- ============================================================== -->
        <!-- toggle and nav items -->
        <!-- ============================================================== -->
        <ul class="navbar-nav mr-auto mt-md-0 ">
          <!-- This is  -->
          <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
          <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="icon-arrow-left-circle"></i></a> </li>

          <!-- ============================================================== -->
          <!-- End Messages -->
          <!-- ============================================================== -->
        </ul>
        <!-- ============================================================== -->
        <!-- User profile and search -->
        <!-- ============================================================== -->
        <ul class="navbar-nav my-lg-0 ">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../assets/images/users/1.jpg" alt="user" class="profile-pic" /></a>
            <div class="dropdown-menu dropdown-menu-right animated flipInY">
              <ul class="dropdown-user">

                <li><a href="javascript:void(0);" (click)="logOut()"><i class="fa fa-power-off"></i> Logout</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- ============================================================== -->
  <!-- End Topbar header -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
      <!-- User profile -->
      <div class="user-profile">
        <!-- User profile image -->
        <div class="profile-img"> <img src="../assets/images/users/1.jpg" alt="user" /> </div>
        <!-- User profile text-->
        <div class="profile-text"> <a href="javascript:void(0)" class="dropdown-toggle link u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Markarn Doe <span class="caret"></span></a>
          <div class="dropdown-menu animated flipInY">
            <a href="javascript:void(0)" class="dropdown-item" (click)="logOut()"><i class="fa fa-power-off"></i> Logout</a>
          </div>
        </div>
      </div>
      <!-- End User profile text-->
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
        <ul id="sidebarnav">
          <li>
            <a href="javascript:void(0);" aria-expanded="false" (click)="navigateTo('home')" >
              <i class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard</span>
            </a>
          </li>
          <li>
            <a class="has-arrow" href="javascript:void(0);" aria-expanded="false">
              <i class="mdi mdi-account-box"></i><span class="hide-menu">User</span>
            </a>
            <ul aria-expanded="false" class="collapse">
              <li><a href="javascript:void(0);" (click)="navigateTo('users/general')">General Users</a></li>
              <li><a href="javascript:void(0);" (click)="navigateTo('users/admin')">Admin Users</a></li>
            </ul>
          </li>
          <li>
            <a href="javascript:void(0);" aria-expanded="false" (click)="navigateTo('category');visibleElement = false; ">
              <i class="mdi mdi-file-tree"></i><span class="hide-menu">Category</span>
            </a>
          </li>
          <li>
            <a class="has-arrow" href="javascript:void(0);" aria-expanded="false">
              <i class="mdi mdi-hexagon"></i><span class="hide-menu">Sh8ke</span>
            </a>
            <ul aria-expanded="false" class="collapse">
              <li><a href="javascript:void(0)" (click)="navigateTo('sh8ke/generalSh8ke')">General Sh8ke</a></li>
              <li><a href="javascript:void(0)" (click)="navigateTo('sh8ke/globalSh8ke')">Global Sh8ke</a></li>
              <li><a href="javascript:void(0)" (click)="navigateTo('sh8ke/exampleSh8ke')">Example Sh8ke</a></li>
            </ul>
          </li>
          <li>
            <a href="javascript:void(0);" aria-expanded="false" (click)="navigateTo('news')">
              <i class="mdi mdi-newspaper"></i><span class="hide-menu">News</span>
            </a>
          </li>

        </ul>
      </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
    <!-- Bottom points-->
    <div class="sidebar-footer">
      <!-- item-->
      <a href="javascript:void(0)" class="link" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a>
    </div>
    <!-- End Bottom points-->
  </aside>
  <!-- ============================================================== -->
  <!-- End Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div class="page-wrapper">

    <!-- Angular 2 : inserting dynamic page -->
    <router-outlet></router-outlet>

    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer">
      © 2015 Sh8ke
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Page wrapper  -->
  <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
