
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="row page-titles">
    <div class="col-md-6 col-8 align-self-center">
      <h3 class="text-themecolor m-b-0 m-t-0">User</h3>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
        <li class="breadcrumb-item active">User</li>
        <li class="breadcrumb-item active">Admin User</li>
        <li class="breadcrumb-item active" *ngIf="visibleElement">Add Admin User</li>
      </ol>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12 marB">
      <a href="javascript:void(0)" *ngIf ="!visibleElement" (click)="visibleElement = !visibleElement; showSuccess=false;showError= false;">Add New User</a>
      <a href="javascript:void(0)" *ngIf="visibleElement" (click)="visibleElement = !visibleElement; showSuccess=false;showError= false;">Back</a>
      <div class="alert alert-success" *ngIf = "showSuccess">
        <strong>Success!</strong> {{message}}
      </div>
      <div class="alert alert-danger" *ngIf = "showError">
           <strong>Error!</strong> {{message}}
       </div>
    </div>
  </div>
  <div class="row" *ngIf = "visibleElement">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-9 marginCenter">
                    <h4 class="card-title"> Add Admin User</h4>
                </div>
              </div>
                <form class="form p-t-20" autocomplete="off">
                      <div class="form-group row">
                        <div class="col-sm-9 marginCenter">
                          <label for="exampleInputuname2">Name</label>
                          <div class="input-group">
                              <div class="input-group-addon"><i class="ti-user"></i></div>
                              <input type="text" name="fName" [(ngModel)]= "fName" class="form-control fName" id="fName" placeholder="Name">
                          </div>
                          <span class="error-msg" *ngIf="errorAddAdminUser.fName">required</span>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-9 marginCenter">
                          <label for="exampleInputEmail2">Email address</label>
                          <div class="input-group">
                              <div class="input-group-addon"><i class="ti-email"></i></div>
                              <input type="email" name="email" [(ngModel)]= "email" class="form-control" id="email" placeholder="Enter email">

                          </div>
                          <span class="error-msg" *ngIf="errorAddAdminUser.email">invalid</span>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-9 marginCenter">
                          <label for="exampleInputpwd2">User Name</label>
                          <div class="input-group">
                              <div class="input-group-addon"><i class="ti-user"></i></div>
                              <input type="text" class="form-control" name="userName" [(ngModel)]= "user_Name" id="userName" placeholder="Username">

                          </div>
                          <span class="error-msg" *ngIf="errorAddAdminUser.user_Name">required</span>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-9 marginCenter">
                          <label for="exampleInputpwd2">Password</label>
                          <div class="input-group">
                              <div class="input-group-addon"><i class="ti-lock"></i></div>
                              <input type="password" autocomplete="new-password" class="form-control" id="password"  name="password"  [(ngModel)]= "password_admin" placeholder="Enter pwd">
                          </div>
                          <span class="error-msg" *ngIf="errorAddAdminUser.password_admin">required</span>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-9 marginCenter">
                          <label for="exampleInputpwd3">Upload Photo</label>
                          <div class="input-group">
                              <input type="file" ng2FileSelect [uploader]="uploader" id="avatar" name="uploadedAnswer"/>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-9 marginCenter">
                          <label for="exampleInputpwd3">User Type</label>
                          <div class="input-group">
                            <select class="form-control" id="user_type" name= "userType" (ngModelChange)="updatedUserType($event)" [(ngModel)]="user_type"  name="user_type" aria-required="true" aria-invalid="false">
                              <option value="">Select user type</option>
                              <option value="Super Administrator">Super Administrator</option>
                              <option value="Administrator">Admin users</option>
                              <option value="PRO users">PRO users</option>
                            </select>
                          </div>
                          <span class="error-msg" *ngIf="errorAddAdminUser.user_type">required</span>
                        </div>
                      </div>

                      <div class="text-left row">
                        <div class="col-sm-9 marginCenter">
                          <button type="submit" class="btn btn-success waves-effect waves-light m-r-10" (click)="addAdminUser()">Submit</button>
                          <button type="submit" class="btn btn-inverse waves-effect waves-light" (click)="visibleElement = !visibleElement">Cancel</button>
                      </div>
                      </div>
                  </form>
            </div>
        </div>
    </div>
  </div>
  <div class="row" *ngIf = "!visibleElement">
    <div class="col-md-12">
       <app-datatable [config]='dtConfigAdminUser' [data]="adminUserList" (onMenuSelect)="onMenuSelect($event)"></app-datatable>
    </div>
  </div>
</div>
