
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="row page-titles">
    <div class="col-md-6 col-8 align-self-center">
      <h3 class="text-themecolor m-b-0 m-t-0">Example Sh8kes</h3>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)" (click)="navigateTo('/home')">Home</a></li>
        <li class="breadcrumb-item active">Sh8kes</li>
        <li class="breadcrumb-item active" >example Sh8kes</li>
        <li class="breadcrumb-item active" *ngIf="visibleElement">Add New example Sh8kes</li>
        
      </ol>
    </div>
    
  </div>
  <div class="row">
    <div class="col-md-12 marB">
      <a href="javascript:void(0)" *ngIf ="!visibleElement" (click)="visibleElement = !visibleElement; showSuccess=false;showError=false;">Add New Sh8kes</a>
      <a href="javascript:void(0)" *ngIf="visibleElement" (click)="visibleElement = !visibleElement; showSuccess=false;showError=false;">Back</a>
      <div class="alert alert-success" *ngIf = "showSuccess">
        <strong>Success!</strong> Record Added Successfully !
        </div>
        <div class="alert alert-danger" *ngIf = "showError">
            <strong>Error!</strong>No Change in Record
        </div>
    </div>
  </div>
  <div class="row" *ngIf = "visibleElement">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"> Add Example Sh8ke</h4>
                 <form class="form-horizontal p-t-20">
                    <div class="form-group row">
                        <div class="col-sm-9 marginCenter ">
                            <div class="input-group">
                                <input type="text" class="form-control" id="uname" placeholder="Title" name="title" [(ngModel)]="exampleTitle">
                                <!--<div class="input-group-addon"><i class="ti-user"></i></div>-->
                            </div>
                            <span class="error-msg" *ngIf="errorValidationObj.exampleTitle">required</span>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="col-sm-9 marginCenter">
                            <div class="input-group">
                                <select  name="category" [ngModel]="selectedCategory" (ngModelChange)="updatedCategory($event)" class="form-control" id="pass3" placeholder="Select Category">
                                  <option value="-1">Select Category</option>
                                    <option *ngFor = "let options of categoryItems; let i= index;" [attr.value]="options['id']">{{options['CategoryName']}}</option>
                                </select>
                            </div>
                            <span class="error-msg" *ngIf="errorValidationObj.selectedCategory">required</span>
                        </div>
                    </div>

                    <div class="form-group row">
                            <div class="col-sm-9 marginCenter ">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="description" placeholder="Description" name="description" [(ngModel)]="description">
                                    <!--<div class="input-group-addon"><i class="ti-user"></i></div>-->
                                </div>
                            </div>
                        </div>

                    <div class="form-group row m-b-0">
                        <div class="offset-sm-3 col-sm-9 marginCenter ">
                            <button type="submit" (click)="addExampleSh8ke()" class="btn btn-success waves-effect waves-light m-r-10">Save</button>
                          <button type="submit" class="btn btn-inverse waves-effect waves-light" (click)="visibleElement = !visibleElement; showSuccess=false;showError=false;">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
  <div class="row" *ngIf = "!visibleElement">
    <div class="col-md-12">
       <app-datatable [config]='dtConfig' [data]="exampleSh8keList" (onMenuSelect)="onMenuSelect($event)"></app-datatable>
    </div>
  </div>
</div>