<div class="container-fluid">
  <div class="row page-titles">
    <div class="col-md-6 col-8 align-self-center">
      <h3 class="text-themecolor m-b-0 m-t-0">User</h3>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
        <li class="breadcrumb-item active">User</li>
        <li class="breadcrumb-item active">User's General Sh8kes</li>
      </ol>
    </div>    
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>{{creatorName}} Sh8kes</h4>
      <a href="javascript:void(0)" (click)= "chnageStatus()">{{userActive}}</a>
    </div>
    
  </div>
   <hr>
  <div class="row">
    <div class=" datePickerContainer col-md-12">
          <div class="input-daterange input-group col-md-5 pull-right" id="date-range">
              <input type="text" class="form-control" id ="startDate" name="start" [(ngModel)]="startDate"/>
              <span class="input-group-addon bg-info b-0 text-white">to</span>
              <input type="text" class="form-control" id ="endDate" name="end" [(ngModel)]="endDate"/>
              <button type="button" value="Filter" class="btn btn-success waves-effect waves-light m-l-10" (click)="filterDataAccordingDate()">Filter</button>
          </div>    
          <div class="col-md-2">
            
          </div>                
     </div>
     
  </div>
  <hr>
  <div class="row">
  <div class="col-md-12">
    <!-- <div *ngIf = "bool_noRecord"><h4 class="noRecord">{{noRecordMessage}}</h4></div> -->
    <app-datatable [config]='dtConfig' [data]="generalCreator" (onMenuSelect)="onMenuSelect($event)"></app-datatable>
  </div>
  </div>
</div>