/* You can add global styles to this file, and also import other style files */
.sparkline .ct-bar{
    stroke-width: 2px !important;
}
.sparkline{
    height: 100px;
    margin-top: -25px;
}
.blue .ct-bar{
    stroke:#3f1ade;
}
.green .ct-bar{
    stroke:green;
}
.yellow .ct-bar{
    stroke:yellow;
}

.marginCenter{
    margin: 0 auto;
}
.marB{
    margin-bottom: 15px;
}
.navbar-header .navbar-brand span{
font-size: 25px;
    font-weight: 700;
    letter-spacing: 12px;
    text-decoration: overline;
    color: #01c0c8;
}
.dt-menu-icons{
  text-align: center;
}
.dt-menu-icons .fa{
    padding:0px 5px;
}

.checkBoxContainer{
    display: inline-block;
    padding: 0;
}
.custom-dt-table table tr td:first-child{
    width: 20%;
    word-break: break-word;
}
.fa-check-circle{
    font-size: 25px;
    color: #38ea38;
}