/* You can add global styles to this file, and also import other style files */
.paddLeft0{
    padding-left: 0;
}
.sparkline .ct-bar{
    stroke-width: 2px !important;
}
.sparkline{
    height: 100px;
    margin-top: -25px;
}
.blue .ct-bar{
    stroke:#3f1ade;
}
.green .ct-bar{
    stroke:green;
}
.yellow .ct-bar{
    stroke:yellow;
}

.marginCenter{
    margin: 0 auto;
}
.marB{
    margin-bottom: 15px;
}
.navbar-header .navbar-brand span{
font-size: 25px;
    font-weight: 700;
    letter-spacing: 12px;
    text-decoration: overline;
    color: #01c0c8;
}
.dt-menu-icons{
  text-align: center;
}
.dt-menu-icons .fa{
    padding:0px 5px;
}

.checkBoxContainer{
    display: inline-block !important;
    padding: 0;
}
.custom-dt-table table tr td:first-child{
    width: 20%;
    word-break: break-word;
}
.fa-check-circle{
    font-size: 25px;
    color: #38ea38;
}
.fa-times-circle{
    font-size: 25px;
    color: #df4c50;
}
span.fa.fa-times{
    color: #df4c50;
}
span.fa.fa-check, .fa.fa-pencil, .fa.fa-trash-o{
    color: #38ea38;
}
.custom-control-input:disabled~.custom-control-indicator{
    background-color: #545759;
}
.btn-success.disabled, .btn-success:disabled {
    background-color: #2f3d4a;
    border-color: #a72e28;
    cursor: not-allowed;
}
input.ng-dirty.ng-invalid {
    background: #442f2f;
}
.msc-content{
    background: #272c33;
}
.msc-body{
    color: #15b6c4;
}
button.msc-ok{
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}
button.msc-cancel {
    background-color: #7d7f82 !important;
    border-color: #7d7f82 !important;
}
.error{
    color: #ab3737;
}
.msc-action button{
    color: #fff !important;
}
.msc-confirm{
    position: absolute;
}
.msc-overlay{
    background-color:transparent !important; 
}
.msc-title{
    font-size: 1em !important;
    color: #fff !important; 
}
.msc-content{
    border-radius: 10px !important;
    border: 1px solid #246733 !important;
    box-shadow: 1px 1px 3px 3px !important;
    background: #272c33 !important;
    z-index: 211 !important;
} 
.dt-table tr td{
    word-break: break-word !important;
}

.noRecord.show{
    display: block;
}
.msc-confirm{
    top:10%;
}
.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover{
    cursor: not-allowed;
    color: #784747;
}