
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="row page-titles">
    <div class="col-md-6 col-8 align-self-center">
      <h3 class="text-themecolor m-b-0 m-t-0">News</h3>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)" (click)="navigateTo('/home')">Home</a></li>
        <li class="breadcrumb-item active">News</li>
        <li class="breadcrumb-item active" *ngIf="visibleElement">Add New News</li>
      </ol>
    </div>
    
  </div>
  <div class="row">
    <div class="col-md-12 marB">
      <a href="javascript:void(0)" *ngIf ="!visibleElement" (click)="visibleElement = !visibleElement; setDatepicker();showSuccess=false;showError= false;">Add New News</a>
      <a href="javascript:void(0)" *ngIf="visibleElement" (click)="cancelBtnHandler()">Back</a>
      <div class="alert alert-success" *ngIf = "showSuccess">
        <strong>Success!</strong> Record Added Successfully !
        </div>
        <div class="alert alert-danger" *ngIf = "showError">
            <strong>Error!</strong> This Record is Already Available.
        </div>
    </div>
  </div>
  <div class="row" *ngIf = "visibleElement">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"> Add News</h4>
                 <form class="form-horizontal p-t-20" [formGroup]="userForm">
                    <div class="form-group row">
                            <div class="col-sm-9 marginCenter ">
                                <div class="input-group">
                                    <input formControlName="newsTitle" type="text" formCon class="form-control" id="title" [(ngModel)]= "newsTitle" placeholder="Title" name="newsTitle">
                                    <!--<div class="input-group-addon"><i class="ti-user"></i></div>-->
                                </div>
                                <control-messages [control]="userForm.controls.newsTitle"></control-messages>
                            </div>
                        </div>
                        
                    <div class="form-group row">
                        <div class="col-sm-9 marginCenter ">
                            <div class="input-group">
                                <textarea class="form-control" formControlName="description" id="Description" placeholder="Description" name = "description" [(ngModel)]='description'></textarea>
                            </div>
                            <control-messages [control]="userForm.controls.description"></control-messages>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-9 marginCenter ">
                            <div class="input-group">
                                <input type="text" formControlName="expireDate" class="form-control" name = "expireDate" [(ngModel)]='expireDate' id="datepicker-autoclose" placeholder="Expire Date">
                               
                            </div>
                            <control-messages [control]="userForm.controls.expireDate"></control-messages>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-9 marginCenter ">
                            <div class="input-group">
                                    <input type="file"  ng2FileSelect [uploader]="uploader"  id="avatar" name="uploadedAnswer" (change)="fileSelection()"/>
                             </div>
                             <div class="error" *ngIf="bool_fileUploaded">{{fileErrorMsg}}</div>
                            <!-- <control-messages [control]="userForm.controls.uploadedAnswer"></control-messages> -->
                        </div>
                    </div>
                    <div class="form-group row m-b-0">
                        <div class="offset-sm-3 col-sm-9 marginCenter ">
                            <button type="button" [disabled]="!userForm.valid" class="btn btn-success waves-effect waves-light m-r-10" (click)="addNews()">Save</button>
                            <button type="submit" class="btn btn-inverse waves-effect waves-light" (click)="cancelBtnHandler()">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
  <div class="row" *ngIf = "!visibleElement">
    <div class="col-md-12">
       <app-datatable [config]='dtConfig' [data]="newsList" (onMenuSelect)="onMenuSelect($event)"></app-datatable>
    </div>
  </div>
</div>